:root {
    --dark:#004C54;
    --light:#A5ACAF;
    --white:#FFFFFF;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 200%;
    margin-bottom: 10px;
}

h2 {
    font-size: 175%;
    margin-bottom: 10px;
}

header {
    padding: 40px;
    text-align: center;
    background: var(--dark);
    color: var(--light);
}

nav {
    display: flex;
    background-color: var(--light);
}

nav a {
    color: var(--dark);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: var(--white);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.card img {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    }
  }