/* Color variables for styling purposes */
:root {
    --dark:#004C54;
    --light:#A5ACAF;
    --white:#FFFFFF;
}

/* Rounded divider styling */
hr.rounded {
    border-top: 8px solid var(--dark);
    border-radius: 5px;
    background-color: var(--dark);
    margin: 10px 0;
}

/* Styling specifications for body and headings */
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 200%;
    margin-bottom: 10px;
}

h2 {
    font-size: 175%;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 150%;
    margin:20px;
}

h3 a {
    color: var(--dark);
}

/* Header and Nav bar styling */
header {
    font-size: 150%;
    padding: 10px;
    text-align: center;
    background: var(--dark);
    color: var(--light);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--light);
    border: 5px outset black;
}

nav a {
    font-weight: bolder;
    color: var(--dark);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: var(--white);
}

/* Default responsive styling for most of body*/
main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* About Me section styling */
.photo-bio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.photo-bio p {
    align-self: center;
}

.photo-bio img {
    margin: auto 5% 1% 8%;
    height: 10%;
    width: 10%;
}

/* Styling for larger image card and project */
.big-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    width: 60%;
    color: black;
}

.big-project a,
.card a {
    text-decoration: none;
    color: black;
}

.big-project header {
    margin: auto;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    padding: 10px;
    max-width: 98%;
    border-radius: 20px 20px 0 0;
}

.big-project img {
    max-width: 98%;
    border-radius: 0 0 20px 20px;

}

/* Styling specifications for smaller project cards */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
    width: 25%
}

.card header {
    font-size: 125%;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.card img {
    width: 100%;
    border-radius: 0 0 20px 20px;
}

/* Styling for final main section: Contact Me */
.contact-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* Styling for footer section */
footer {
    text-align: center;
}

/* Modifies cards to slightly darken background when hover over */
.big-project:hover,
.card:hover {
    background-color: var(--light);
}

/* Media queries to increase responsiveness of style elements */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 150%}

    .card {
      width: 50%;
    }
}

  @media screen and (max-width: 768px) {
    h1 {
        font-size: 100%;
    }
    
    header,
    nav {
        flex-direction: column;
    }
    .photo-bio {
        flex-direction: column-reverse;
        align-items: center;
    }

    .photo-bio img {
        margin: auto auto 4% auto;
        height: 30%;
        width: 30%;
    }
    .card,
    .big-project {
      width: 96%;
      margin: 10px 2px;
    }
    
    .contact-me {
        flex-direction: column;
    }
    }